@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    margin: 0 !important;
    padding: 0 !important;
    background: #000 !important;
    /* width: 100vw; */
    height: 100vh;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif !important;
}