/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

# Twill specific
/storage/app/*
!/storage/app/.gitkeep
/storage/framework/cache/*
!/storage/framework/cache/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/testing/*
!/storage/framework/testing/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitkeep
/storage/logs/*
!/storage/logs/.gitkeep

# Keep database directory but not the actual DB files
/database/*.sqlite
/database/*.sqlite-journal

# cPanel artifacts - not needed in git
/access-logs/
/error_log
/logs/
/mail/
/etc/
/tmp/
/www/app.fvcdigital.com/
/*.php
!artisan
